*body{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    overflow: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #322d2d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7b4e4e; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @media only screen and (max-width:1000px) {
    ::-webkit-scrollbar {
      width: 5px;
    }
    
  }